flow.json
[{"id":"cb6d1535.b4b338","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"af5406d4.2e71c8","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"cf27922b.550d4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5a4afbc4.abe4d4","type":"ui_group","z":"","name":"Sensors","tab":"b7cd961b.0489e8","order":1,"disp":true,"width":"6"},{"id":"add882d6.91b5d","type":"mqtt-broker","z":"","name":"","broker":"192.168.15.100","port":"1883","clientid":"node-002","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"793d5ebd.f2f4a","type":"ui_group","z":"","name":"control","tab":"b7cd961b.0489e8","order":2,"disp":true,"width":"6"},{"id":"b7cd961b.0489e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"327e810.89c6e8","type":"inject","z":"cb6d1535.b4b338","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":220,"wires":[["65b7d956.383a18"]]},{"id":"46b422c5.a4613c","type":"debug","z":"cb6d1535.b4b338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":220,"wires":[]},{"id":"65b7d956.383a18","type":"function","z":"cb6d1535.b4b338","name":"myfun","func":"\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["46b422c5.a4613c"]]},{"id":"49ce0d6a.b3d724","type":"function","z":"cb6d1535.b4b338","name":"Function 1","func":"var count=context.get('count') || 0;\ncount +=1;\nmsg.payload=\"F1 \"+msg.payload+\" \"+count;\ncontext.set('count',count);\nreturn msg;\n//\n//","outputs":1,"noerr":0,"x":830,"y":40,"wires":[["9094f7ca.e5dd48"]]},{"id":"9094f7ca.e5dd48","type":"debug","z":"cb6d1535.b4b338","name":"","active":true,"console":"false","complete":"false","x":980,"y":100,"wires":[]},{"id":"9a61bd9e.4446a","type":"inject","z":"cb6d1535.b4b338","name":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":690,"y":109,"wires":[["49ce0d6a.b3d724"]]},{"id":"2a6ec7cc.d43c08","type":"inject","z":"cb6d1535.b4b338","name":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":688,"y":429,"wires":[["f3b580c4.5bf76"]]},{"id":"f3b580c4.5bf76","type":"function","z":"cb6d1535.b4b338","name":"Uses Object","func":"var local=context.get('data') || {};\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\nlocal.count +=1;\nmsg.payload=\"F2 \"+msg.payload+\" \"+local.count;\ncontext.set('data',local);\nreturn msg;\n//","outputs":1,"noerr":0,"x":851,"y":386,"wires":[["1f36dcd.0126f23"]]},{"id":"1f36dcd.0126f23","type":"debug","z":"cb6d1535.b4b338","name":"","active":true,"console":"false","complete":"false","x":1020,"y":418,"wires":[]},{"id":"fc148623.bce5e8","type":"inject","z":"cb6d1535.b4b338","name":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":693,"y":601,"wires":[["64314f38.9f0c"]]},{"id":"64314f38.9f0c","type":"function","z":"cb6d1535.b4b338","name":"With Flow","func":"//var count=context.get('count') || 0;\nvar count=flow.get('count') || 0;\n\ncount +=1;\nmsg.payload=\"F5 \"+msg.payload+\" \"+count;\nflow.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":845,"y":513,"wires":[["6ba37c18.76c634"]]},{"id":"6ba37c18.76c634","type":"debug","z":"cb6d1535.b4b338","name":"","active":true,"console":"false","complete":"false","x":967,"y":607,"wires":[]},{"id":"cb72daf.9125228","type":"inject","z":"cb6d1535.b4b338","name":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":697,"y":702,"wires":[["5d9e5579.8a89ec"]]},{"id":"5d9e5579.8a89ec","type":"function","z":"cb6d1535.b4b338","name":"With Flow","func":"var count=flow.get('count') || 0;\n\ncount +=2;\nmsg.payload=\"F6 \"+msg.payload+\" \"+count;\nflow.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":842,"y":653,"wires":[["8d8dcf85.3a03c"]]},{"id":"8d8dcf85.3a03c","type":"debug","z":"cb6d1535.b4b338","name":"","active":true,"console":"false","complete":"false","x":976,"y":704,"wires":[]},{"id":"9f308ee9.996b","type":"inject","z":"cb6d1535.b4b338","name":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":666,"y":337,"wires":[["fb095d9d.a8788"]]},{"id":"fb095d9d.a8788","type":"function","z":"cb6d1535.b4b338","name":"Multiple variables","func":"var count=context.get('count') || 0;\nvar count2=context.get('count2') || 0;\n\n//\n\ncount +=1;\ncount2 +=2;\nmsg.payload=\"F3 \"+msg.payload+\" \"+count +\" \"+count2;\ncontext.set('count',count);\ncontext.set('count2',count2);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":296,"wires":[["f04454c7.c54d28"]]},{"id":"f04454c7.c54d28","type":"debug","z":"cb6d1535.b4b338","name":"","active":true,"console":"false","complete":"false","x":1023,"y":346,"wires":[]},{"id":"9d6516d1.8ca0a8","type":"inject","z":"cb6d1535.b4b338","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":660,"y":788,"wires":[["95f53da4.36877"]]},{"id":"95f53da4.36877","type":"function","z":"cb6d1535.b4b338","name":"Reset","func":"var count=flow.get('count') || 0;\n\ncount =0;\nflow.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":837,"y":787,"wires":[[]]},{"id":"d5fcd241.3497f","type":"inject","z":"cb6d1535.b4b338","name":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":718,"y":939,"wires":[["3303e763.a28bc8"]]},{"id":"3303e763.a28bc8","type":"function","z":"cb6d1535.b4b338","name":"With Global","func":"\nvar count=flow.get('count') || 0;\nvar gcount=global.get('count') || 0;\n\ncount +=1;\nmsg.payload=\"F10 \"+\" flow= \"+count+ \"  global= \"+gcount;\nflow.set('count',count);\nglobal.set('count',gcount);\nreturn msg;","outputs":1,"noerr":0,"x":867,"y":846,"wires":[["bf72daac.5b14b8"]]},{"id":"bf72daac.5b14b8","type":"debug","z":"cb6d1535.b4b338","name":"","active":true,"console":"false","complete":"false","x":1030,"y":927,"wires":[]},{"id":"8a217bfb.eb1ac8","type":"inject","z":"cb6d1535.b4b338","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":709,"y":1052,"wires":[["d25587e.a54a478"]]},{"id":"d25587e.a54a478","type":"function","z":"cb6d1535.b4b338","name":"Global Reset","func":"var count=flow.get('count') || 0;\n\ncount =0;\nflow.set('count',count);\nglobal.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":906,"y":1051,"wires":[[]]},{"id":"11dc5117.960a5f","type":"inject","z":"cb6d1535.b4b338","name":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"x":697,"y":217,"wires":[["680a02e5.dd029c"]]},{"id":"680a02e5.dd029c","type":"function","z":"cb6d1535.b4b338","name":"Function 2","func":"var count=context.get('count') || 0;\nnode.log(count);\n//\n\ncount +=1;\nmsg.payload=\"F1 \"+msg.payload+\" \"+count;\ncontext.set('count',count);\nreturn msg;\n//\n//","outputs":1,"noerr":0,"x":854,"y":158,"wires":[["f79ea4b5.176168"]]},{"id":"f79ea4b5.176168","type":"debug","z":"cb6d1535.b4b338","name":"","active":true,"console":"false","complete":"false","x":1026,"y":207,"wires":[]},{"id":"480fedd6.4e6d64","type":"function","z":"af5406d4.2e71c8","name":"select topic","func":"node.log(\"here\");\nnode.log(msg.topic);\nif (msg.topic===\"sensors/main-door/control\"){\n  node.log(\"t1\");\n     return [msg,null];\n}\nif (msg.topic===\"sensors/main-light/control\")\n{\n  node.log(\"t2\");\n     return [null,msg];\n\n}\nnode.log(\"t3\");\nreturn\n","outputs":"2","noerr":0,"x":470,"y":140,"wires":[["979bdc11.cae9c"],["35a4066.36436fa"]],"outputLabels":["light","door"]},{"id":"979bdc11.cae9c","type":"ui_text","z":"af5406d4.2e71c8","group":"5a4afbc4.abe4d4","order":0,"width":0,"height":0,"name":"","label":"Main-Door","format":"{{msg.payload}}","layout":"row-spread","x":692,"y":127,"wires":[]},{"id":"35a4066.36436fa","type":"ui_text","z":"af5406d4.2e71c8","group":"5a4afbc4.abe4d4","order":0,"width":0,"height":0,"name":"light","label":"light","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":180,"wires":[]},{"id":"28b62664.84d15a","type":"mqtt in","z":"af5406d4.2e71c8","name":"subscribe","topic":"sensors/#","qos":"0","broker":"add882d6.91b5d","x":442,"y":233,"wires":[["170b81f3.faf30e","480fedd6.4e6d64"]]},{"id":"170b81f3.faf30e","type":"ui_switch","z":"af5406d4.2e71c8","name":"light switch","label":"switch","group":"793d5ebd.f2f4a","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"sensors/main-light/control","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":468,"y":379,"wires":[["69e3f308.b1d35c"]]},{"id":"69e3f308.b1d35c","type":"mqtt out","z":"af5406d4.2e71c8","name":"","topic":"","qos":"0","retain":"true","broker":"add882d6.91b5d","x":653,"y":382,"wires":[]},{"id":"1e0b82b1.2ea19d","type":"ui_button","z":"af5406d4.2e71c8","name":"","group":"793d5ebd.f2f4a","order":0,"width":0,"height":0,"passthru":false,"label":"Main-door-open","color":"","bgcolor":"#f7bdde","icon":"touch_app","payload":"OPEN","payloadType":"str","topic":"sensors/main-door/control","x":465,"y":489,"wires":[["69e3f308.b1d35c"]]},{"id":"c3e63f65.07e0b","type":"ui_button","z":"af5406d4.2e71c8","name":"","group":"793d5ebd.f2f4a","order":0,"width":0,"height":0,"passthru":false,"label":"main-door-closed","color":"","bgcolor":"#8fbfbf","icon":"touch_app","payload":"CLOSED","payloadType":"str","topic":"sensors/main-door/control","x":466,"y":539,"wires":[["69e3f308.b1d35c"]]}]